.main {
  margin: 4rem auto;
  width: 80%;
}

.main__header--container {
  margin-top: 2rem;
}

.main__header--container__title {
  color: var(--secondary-color);
  line-height: 2.5rem;
  text-align: center;
}

.attention {
  background-color: var(--main-color);
  padding: 0.2rem;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }
}
