.main__for--section {
  background-color: var(--benefits-background);
  padding: 5rem 0;
  width: 100%;
}

.main__for--section__title {
  font-family: "Secular One", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.main__for--section__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin: 0 auto;
  width: 60%;
}

.main__for--section__list__item {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: 3rem;
}

.bonus {
  margin-top: 2rem;
  font-weight: bold;
}
