.main__comments--section {
  align-items: flex-start;
  background-color: var(--others-background);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 5rem 0 0 0;
  padding: 5rem 10rem;
  width: 100%;
}

.main__comments--section__profile {
  align-items: flex-start;
  border-bottom: 1px solid var(--benefits-background);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}

.main__comments--section__profile:last-child {
  border-bottom: none;
}

.main__comments--section__profile__user--data {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-items: flex-start;
}

.main__comments--section__profile__user--data__name {
  color: var(--commentary-name);
  font-weight: 500;
}

.main__comments--section__profile__user--data__figure__photo {
  border-radius: 100%;
  width: 100%;
}

.main__comments--section__profile__user--data__comment {
  color: var(--secondary-color);
  font-weight: 500;
  margin-left: 4.5rem;
}

@media (max-width: 768px) {
  .main__comments--section {
    margin: 15rem 0 0 0;
    padding: 3rem;
  }

  .main__comments--section__profile__user--data {
    gap: 0;
  }

  .main__comments--section__profile__user--data__name {
    font-size: 0.9rem;
  }

  .main__comments--section__profile__user--data__comment {
    font-size: 0.8rem;
    margin-left: 4rem;
  }

  .main__comments--section__profile__user--data__figure__photo {
    width: 75%;
  }
}

@media (max-width: 425px) {
  .main__comments--section {
    padding: 2rem;
  }
}
